# ----------------------------------------------- #
# ----------------- MQTT SERVER ----------------- #
# ----------------------------------------------- #

# Authentication ID for client connection
MQTT_AUTH_ID='userId'

# Authentication password for client connection
MQTT_AUTH_PASSWORD='password'
