[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
geoalchemy2 = "*"
requests = "*"
googlemaps = "*"

[requires]
python_version = "3.6"
