# ----------------------------------------------- #
# ----------------- MQTT CLIENT ----------------- #
# ----------------------------------------------- #

# Server URL & Port where mqtt server is running
MQTT_SERVER_ADDRESS='mqtt://localhost:1883'

# Authentication ID for client connection
MQTT_AUTH_ID='userId'

# Authentication password for client connection
MQTT_AUTH_PASSWORD='password'
